@using MyToDo.Models
<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            State
        </th>
        <th>
            Dead line
        </th>
        <th>
            Created by
        </th>
        <th>
            Created for
        </th>
        <th>
            Number of subtask
        </th>
        <th></th>
    </tr>
    @foreach (List<TodoItem> item in ViewBag.Tasks.Values)
    {
        if (item.Count > 1)
        {
            @:<tr data-toggle="collapse" data-target="#sub_@item[0].ID" class="clickable">
        }
        else
        {
            @:<tr>
        }
        <td>
            @item[0].Title
        </td>
        <td>
            @ViewBag.States[@item[0].state].label
        </td>
        <td>
            @item[0].DeadLine
        </td>
        <td>
            @item[0].UserCreatedName
        </td>
        <td>
            @item[0].UserWorkName
        </td>
        <td>
            @if (item.Count > 1)
            {
                <span>@Html.Raw((item.Count - 1).ToString())</span>
            }
            else
            {
                <span>0</span>
            }
        </td>
        <td>
            
            @Html.ActionLink("Edit", "Edit", "Todo", new { id = item[0].ID }, null) |
            @Html.ActionLink("Details", "Details", "Todo", new { id = item[0].ID }, null) |
            @Html.ActionLink("Delete", "Delete", "Todo", new { id = item[0].ID} , null)
        </td>
        @:</tr>
        if (item.Count > 1)
        {
            <tr>
                <td colspan="6">
                    <div class="collapse" id="sub_@item[0].ID">
                        <table>
                            @for (int i = 0; i < item.Count; i++)
                            {
                                if (i > 0)
                                {
                                    Html.RenderPartial("~/Views/Todo/_trTask.cshtml", item[i]);
                                }
                            }
                    </table>
                    </div>
                </td>
            </tr>
        }
    }
</table>