@model MyToDo.Models.TodoItem
<tr>
    <td>
        @Model.Title
    </td>
    <td>
        @ViewBag.States[Model.state].label
    </td>
    <td>
        @Model.DeadLine
    </td>
    <td>
        @Model.UserCreatedName
    </td>
    <td>
        @Model.UserWorkName
    </td>
    <td></td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Details", "Details", new { id = Model.ID }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.ID })
    </td>
</tr>
